{% extends 'base.html' %}

{% block title %}{{ post.title }} - {{ blog_title }}{% endblock %}

{% block description %}{{ post.description }}{% endblock %}

{% block canonical %}
<link rel="canonical" href="{{ post.canonical_url }}" />
{% endblock %}

{% block og_type %}article{% endblock %}
{% block og_url %}{{ post.canonical_url }}{% endblock %}
{% block og_title %}{{ post.title }}{% endblock %}
{% block og_description %}{{ post.description }}{% endblock %}

{% block twitter_url %}{{ post.canonical_url }}{% endblock %}
{% block twitter_title %}{{ post.title }}{% endblock %}
{% block twitter_description %}{{ post.description }}{% endblock %}

{% block content %}
<article class="postWrapper">
    <h1>{{ post.title }}</h1>

    <section class="postMetadata">
        <dl>
            {% if post.tags %}
            <dt>tags</dt>
            <dd>
                {% for tag in post.tags %}
                <a href="{{ tag.path }}" class="tag">#{{ tag.name }}</a>{% if not loop.last %} {% endif %}
                {% endfor %}
            </dd>
            {% endif %}
            <dt>created</dt>
            <dd><time datetime="{{ post.created_date }}">{{ post.created_date }}</time></dd>
        </dl>
    </section>

    <div class="post-content">
        {{ post.body_html|safe }}
    </div>
</article>

{% set comments_issue_number = post.issue_number %}{% include '_comments.html' %}

<script src="{{ theme_path }}/static/js/mermaid.js"
        data-runtime-src="{{ theme_path }}/static/vendor/mermaid-11.16.1/mermaid.min.js"
        data-mermaid-theme="dark" defer></script>
{% endblock %}
